*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", sans-serif;
}

h1, h2, h3{
    font-family: "Fredoka", sans-serif;
}

h1{
    font-size: 48px;
}

h2{
    color: #1f5e4a;
    font-size: 40px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.amarelo{
    color: #f4c542;
}

.logotipo{
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
    color: #1f5e4a;
    font-weight: bold;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.cabecalho .menu{
    display: flex;
    gap: 16px;
}

.cabecalho .menu a{
    text-decoration: none;
    color: #1f5e4a;
}

.hamburguer{
    display:none;
}

/* HERO SECTION*/

.hero{
    background: #1f5e4a;
    margin: 10px 20px;
    border-radius: 30px;
    color:white;
    padding:40px 0;
    height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
}

.hero_conteudo{
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.hero .hero_acoes{
    display:flex;
    gap: 16px;
    align-items: center;
}

.hero .hero_acoes button{
    background: #f4c542;
    border: 0;
    padding: 16px 24px;
    border-radius: 10px;
    color: #1f5e4a;
    cursor: pointer;
    font-weight: 600;
}

.hero .hero_acoes a{
    text-decoration: none;
    color: white;
}

.hero_imagem img{
    width: 400px;
    position:absolute;
    bottom: 0;
    right: 64px;
}

@media (max-width: 1200px){
   .hero .hero_conteudo{
    align-items: center;
    text-align: center;
   }
   .hero h1{
    font-size: 32px;
   }
   .hero_imagem img{
    display:none;
   }
}

.sobre{
    display:flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 64px;
    margin-bottom:64px;
}

.sobre_info{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
}

.sobre_info .sobre_conteudo{
    flex: 1;
}

.sobre_info .sobre_imagem {
    background: #f4c542;
    border-radius: 30px;
    padding: 24px 24px 0 24px;
    display:flex;
    justify-content: center;
}

.sobre_indicadores{
    display:flex;
    gap: 16px;
    margin-top: 16px;
}

.sobre_indicadores .sobre_indicador_item{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.sobre_indicadores .sobre_indicador_item strong{
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
    color:#1f5e4a
}

@media (max-width: 768px){
    .sobre_info{
        flex-direction: column;
    }
}

/*contato section*/
.contato{
    background-color:#1f5e4a;
}

.contato .titulo_secao{
    color:white;
    padding: 16px 0;
}

.contato .container{
    display:flex;
    align-items: center;
    gap: 24px;
    padding: 16px 0;
    justify-content: space-between;
}

.contato_info{
    color:white;
    flex:1;
    display:flex;
    flex-direction: column;
    gap:16px;
}

.contato_info p{
    display:flex;
    gap:8px;
}

.contato_formulario{
    flex:1;
    display:flex;
    flex-direction: column;
    gap:16px;
    padding: 24px 24px 0 24px;
}

.contato_formulario input{
    width:100%;
    padding:8px 16px;
    border:0;
    border-radius: 8px;
}

.contato_formulario button{
    background: #f4c542;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
    color: #1f5e4a;
    cursor: pointer;
    font-weight: bold;
    width:100%;
}

@media (max-width: 768px){
    .contato .container{
        flex-direction: column;
    }
}

/*footer*/

.rodape{
    text-align: center;
    padding: 16px 0;
}
